.con {
  padding: 1rem;
  outline: 1px solid brown;
  border-radius: 12px;
  display: flex;
  width: fit-content;
  height: 3rem;
  align-items: end;
  transition: all 0.2s linear;
}

.item {
  aspect-ratio: 1;
  transform-origin: 50% 100%;
  transition: all 0.1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item .inner-wrapper {
  transition: all 0.1s linear;
}